{% extends 'theme/base.html' %}


{% block title %} Add User {% endblock %}

{% block page_heading %} Add User {% endblock %}

{% block breadcrumbnavigation %} Add User {% endblock %}

{% block sidebar %} {% endblock %}

{% block body %}
{% if  user.is_superuser == False %}

<section class="content">
    <div class="error-page">
      <h2 class="headline text-danger">401</h2>

      <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.</h3>

        <p>
          You are not allowed to perform this action.
          you can <a href="index">return to dashboard</a> or try login as Administrator .
        </p>

        
      </div>
    </div>
    <!-- /.error-page -->

  </section>

{% else %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">User Details</h3>
                    </div>
                    <form action="account" method="post">
                        <div class="card-body">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" name="first_name" id="first_name" class="form-control"
                                            placeholder="First Name">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" name="last_name" class="form-control"
                                            placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username">User Name</label>
                                <input type="text" name="username" class="form-control" placeholder="User Name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="password1">Password</label>
                                        <input type="password" name="password1" class="form-control"
                                            placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="password2">Confirm Password</label>
                                        <input type="password" name="password2" class="form-control"
                                            placeholder="Confirm Password">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="admin" {% if user.is_superuser %}{% endif %} />

                                        <label class="form-check-label" for="admin">Administrator</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="staff" {% if user.is_staff %}{% endif %} />

                                        <label class="form-check-label" for="staff">Staff</label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                    </form>
                    {% for message in messages %}
                    <div class="alert alert-warning" role="alert">


                        <h4>{{message}}</h4>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}
{% endblock %}