{% extends 'theme/base.html' %}


{% block title %} Add-Ons {% endblock %}

{% block page_heading %} Add-Ons {% endblock %}

{% block breadcrumbnavigation %} Add-Ons {% endblock %}

{% block sidebar %} {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 col-sm-6 col-12">
        <div class="info-box shadow-sm">
            <span class="info-box-icon bg-success"><i class="fas fa-wifi"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">IP LOOKUP</span>
                <span class="info-box-number"><a href="iplookup">CHECK IP</a></span>
            </div>
            <!-- /.info-box-content -->

            <!-- /.info-box -->
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12">
        <div class="info-box shadow-sm">
            <span class="info-box-icon bg-warning"><i class="fas fa-tags"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">META DATA EXTRACTOR</span>
                <span class="info-box-number"><a href="metafind">UPLOAD FILE</a></span>
            </div>
            <!-- /.info-box-content -->

            <!-- /.info-box -->
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12">
        <div class="info-box shadow-sm">
            <span class="info-box-icon bg-danger"><i class="fas fa-user-secret"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">DARKWEB SEARCH ENGINE</span>
                <span class="info-box-number"><a href="darkwebsearch">SURF NOW</a></span>
            </div>
            <!-- /.info-box-content -->

            <!-- /.info-box -->
        </div>
    </div>
</div>

{% endblock %}