
{%  extends 'theme/base.html' %}
{% load static %}

{% block title %}  Case Details {% endblock %}

{% block page_heading %} Case Details  {% endblock %}

{% block breadcrumbnavigation %}  Case Details {% endblock %}

{% block sidebarheading %}   {% endblock %}
{% block sidebarcontent %}l  {% endblock %}

{% block body %} 


 {%  if  casedetails.created_by|slugify  == user.username|slugify   or  user.is_superuser == True %}

<div class="col-md-12">
    <div class="card">
        <div class="ribbon-wrapper ribbon-lg">
            {% if casedetails.is_completed == True %}
            <div class="ribbon bg-success">
              Completed
            </div>
            {% else %}
            <div class="ribbon bg-danger">
                Pending
              </div>
            {% endif %}
          </div>
      <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-edit"></i>
          FIR Details
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-4">Officer's Username </dt>
          <dd class="col-sm-8">{{ casedetails.created_by}}</dd>
          <dt class="col-sm-4">Case Number </dt>
          <dd class="col-sm-8">{{ casedetails.case_no}}</dd>
          <dt class="col-sm-4">Case Name</dt>
          <dd class="col-sm-8">{{ casedetails.case_title}}</dd>
          <dt class="col-sm-4">Details</dt>
          <dd class="col-sm-8">{{ casedetails.case_details}}</dd>
          <dt class="col-sm-4">Referance Number</dt>
          <dd class="col-sm-8">{{ casedetails.ref_id}}</dd>
          <dt class="col-sm-4">FIR Date</dt>
          <dd class="col-sm-8">{{ casedetails.fir_date}}</dd>
          <dt class="col-sm-4">Created on</dt>
          <dd class="col-sm-8">{{ casedetails.created_at}}</dd>
        </dl>
      </div> 
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

    
  </div>
  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill">
      <div class="card-header text border-bottom-0">
        True Caller Details
      </div>
      <div class="card-body pt-0">
        <div class="row">
          <div class="col-7">
            <h2 class="lead"><b>Nicole Pearson</b></h2>
            <p class="text text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
            <ul class="ml-4 mb-0 fa-ul text">
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
            </ul>
          </div>
          <div class="col-5 text-center">
            <img src="{% static 'images/avatars/noavatar.jpg' %}" alt="user-avatar" class="img-circle img-fluid">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="text-right">
          <a href="#" class="btn btn-sm bg-teal">
            <i class="fas fa-comments"></i>
          </a>
          <a href="#" class="btn btn-sm btn-primary">
            <i class="fas fa-user"></i> View Profile
          </a>
        </div>
      </div>
    </div>
  </div>
  {% else %}

  <section class="content">
    <div class="error-page">
      <h2 class="headline text-danger">401</h2>

      <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.</h3>

        <p>
          You are not authorized to view this case.  
          you may <a href="/index">return to dashboard</a>  .!! 
        </p>

        
      </div>
    </div>
    <!-- /.error-page -->

  </section>
 {% endif %}
{% endblock %}

{% block scripts %}{% endblock %} 