
{%  extends 'theme/base.html' %}
{% load static %}
{% load dict_key %}

{% block title %}  Case Details {% endblock %}
{% block css %}

<style>
#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
</style>


{% endblock %}
{% block page_heading %} Case Details  {% endblock %}

{% block breadcrumbnavigation %}  Case Details {% endblock %}

{% block sidebarheading %}   {% endblock %}
{% block sidebarcontent %}l  {% endblock %}

{% block body %} 

{% for casedetail in casedetails %} 
 {%  if casedetail.created_by|slugify  == user.username|slugify   or  user.is_superuser == True %}
 
<div class="col-md-12">
    <div class="card card-primary card-outline">
        <div class="ribbon-wrapper ribbon-lg">
            {% if casedetail.is_completed == True %}
            <div class="ribbon bg-success">
              Completed
            </div>
            {% else %}
            <div class="ribbon bg-danger">
                Pending
              </div>
            {% endif %}
          </div>
      <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-edit"></i>
          FIR Details
        </h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <dl class="row">{% for casedetail in casedetails %}
          <dt class="col-sm-4">Officer's Username </dt>
          <dd class="col-sm-8">{{ casedetail.created_by }}</dd>
          <dt class="col-sm-4">Case Number </dt>
          <dd class="col-sm-8">{{ casedetail.case_no}}</dd>
          <dt class="col-sm-4">Case Name</dt>
          <dd class="col-sm-8">{{ casedetail.case_title}}</dd>
          <dt class="col-sm-4">Details</dt>
          <dd class="col-sm-8">{{ casedetail.case_details}}</dd>
          <dt class="col-sm-4">Referance Number</dt>
          <dd class="col-sm-8">{{ casedetail.ref_id}}</dd>
          <dt class="col-sm-4">FIR Date</dt>
          <dd class="col-sm-8">{{ casedetail.fir_date}}</dd>
          <dt class="col-sm-4">Created on</dt>
          <dd class="col-sm-8">{{ casedetail.created_at}}</dd>
        </dl>
        <div class="card-header">
          <h3 class="card-title">
              <i class="fas fa-user-secret"></i> &nbsp;Suspect's Known Details: </h3>
        </div>
        <div class="row">
          
          <div class="col-sm-6 border-right">
            <div class="description-block">
              <h5 class="description-header">Email</h5>
              <span class="description-text">{{ casedetail.email}}</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          <div class="col-sm-6 ">
            <div class="description-block">
              <h5 class="description-header">Mobile Number</h5>
              <span class="description-text">{% if casedetail.phone_no %}+91 -{% endif %} {{ casedetail.phone_no}}</span>
            </div>
            <!-- /.description-block -->
          </div>
          <!-- /.col -->
          
          <!-- /.col -->
        </div>{% endfor %}


      </div> 
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

    
          
          
  </div>
  <div class="row">{% for object in truecallerdetails %}
  <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
    <div class="col-md-12">
    <div class="card bg-light d-flex flex-fill card-primary card-outline">
      <div class="card-header text border-bottom-0">
        True Caller Details  
        
          
          
      </div>
      <div class="card-body pt-0">
        <div class="row">
          <div class="col-7">
            <h1 class="lead"><b>{{object.name}}</b></h1>
            <p class="text text-sm"><b>About: </b>{{object.about}}</p>
            <ul class="ml-4 mb-0 fa-ul text">
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-birthday-cake"></i></span>&nbsp; Birthday :<b> {{object.birthday}}</b></li><hr/>
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-venus-mars"></i></span>&nbsp; Gender :<b> {{object.gender}}</b></li><hr/>
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-user-tie"></i></span>&nbsp; Job Title : <b>{{object.jobTitle}}</b></li><hr/>
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-handshake"></i></span> &nbsp;Company Name : <b>{{object.companyName}} </b></li><hr/>
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-broadcast-tower"></i></span>&nbsp; Mobile Service Provider :<b> {{object.carrier}}</b></li><hr/>
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-at"></i></span> &nbsp;Email :<b> {{object.email}}</b></li><hr/>
              <li class="small"><span class="fa-li"><i class="fas fa-lg fa-id-card"></i></span>&nbsp; Home Address:<b> {{object.address}}</b></li>
            </ul>
          </div>
          <div class="col-5 text-center">
            {% if object.image == 'not known' %}
            <img src="{% static 'images/avatars/noavatar.jpg' %}" alt="user-avatar" id="myImg" class="img-circle img-fluid">
            {% else %}
            <img src="{{object.image }}" alt="user-avatar" id="myImg" class="img-circle img-fluid">
            {% endif %}
            Profile Picture
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="text-right">
          
        </div>
      </div>
    </div>
  </div>
  </div>{% endfor %}

  
  <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
   {% for object in eycondetails %}
    <div class="card bg-light d-flex flex-fill card-primary card-outline">
      <div class="card-header text-muted border-bottom-0 text-warning">
       Eyecon Details
      </div>
      <div class="card-body pt-0">
        <div class="row">
          <div class="col-7">
            <h2 class="lead"><b>
              {{object.suspects_name }}</b></h2>
            
          </div>
          <div class="col-5 text-center">
            {% if object.image == 'None' %}
            <img src="{% static 'images/avatars/noavatar.jpg' %}" alt="user-avatar" id="myImg" class="img-circle img-fluid">
            {% else %}
            <img src="{{object.image }}" alt="user-avatar" id="myImg" class="img-circle img-fluid">
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="text-right">
        
        </div>
      </div>
    </div>{% endfor %}
    {% if upidetails %}
    <div class="card bg-light d-flex flex-fill card-primary card-outline">
      <div class="card-header text-muted border-bottom-0 text-warning">
        UPI Details
      </div>
      <div class="card-body pt-0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Payment Gateway</th>
              <th>UPI ID</th>
    
            </tr>
          </thead>
          <tbody>{% for object in upidetails %}
            <tr>
              <td>{{object.name}}</td>
              <td>{{object.bank}}</td>
              <td>{{object.vpa}}</td>
    
            </tr>
            {% endfor %}
    
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div class="text-right">
    
        </div>
      </div>
    </div>{% endif %}
    </div>
{% if hlrdetails %}
  <div class="col-12 col-sm-6 col-md-6 d-flex align-items-stretch flex-column">
    <div class="col-md-12">
      <div class="card bg-light d-flex flex-fill card-primary card-outline">
        <div class="card-header text-muted  text border-bottom-0">
          Phone Number lookup Details
  
        </div>
        <div class="card-body pt-0">
  
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Details</th>
  
  
              </tr>
            </thead>
            <tbody>{% for object in hlrdetails %}
              {% for k in object.info %}
              <tr>
                <td>{{ k }}</td>
                <td> <b>{{ object.info|dict_key:k }}</b></td>
  
  
              </tr>
              {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
          
            
  
  
    
    
  
 

</div>


 
  <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>
  {% else %}

  <section class="content">
    <div class="error-page">
      <h2 class="headline text-danger">401</h2>

      <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something went wrong.</h3>

        <p>
          You are not authorized to view this case.  
          you may <a href="/index">return to dashboard</a>  .!! 
        </p>

        
      </div>
    </div>
    <!-- /.error-page -->

  </section>
 {% endif %}{% endfor %}
{% endblock %}

{% block scripts %}

<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  
  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById("myImg");
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");
  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() { 
    modal.style.display = "none";
  }
  </script>



{% endblock %} 