{% extends 'theme/base.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block page_heading %} Profile {% endblock %}

{% block breadcrumbnavigation %} Profile {% endblock %}

{% block sidebarheading %} Profile Edit History {% endblock %}
{% block sidebarcontent %}
Last Profile Edit : {{user.profile.updated_at}}<br />
Last Visit : {{user.last_login}}

{% endblock %}
{% block body %}




<form class="form" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-auto mb-3">
                            <div class="mx-auto" style="width: 140px;">
                                {% if user.profile.profile_pic %}
                                <img src="{{user.profile.profile_pic.url}}" height="140px" width="140px">
                                {% else %}
                                <img src="{% static 'pro_pic/user.jpg' %}" height="140px" width="140px">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.first_name}} {{user.last_name}}</h4>
                                <p class="mb-0">@{{user.username}}</p><br/>
                                <!--<div class="text-muted"><small>Last seen 2 hours ago </small></div>-->

                            </div>
                            <div class="text-center text-sm-right">
                                <span class="badge badge-secondary">{% if user.is_superuser == True %}Administrator {%
                                    else %} user {% endif%}</span>
                                <div class="text-muted"><small>Joined on {{user.date_joined}}</small></div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-link "><a href="edit_profile" class="text-info">Details</a></li>
                        <li class="nav-link active">Change Password</li>
                    </ul>
                    <form method="post">
                        <div class="tab-content pt-3">
                            <div class="tab-pane active">
                                <div class="row">
                                    <div class="col">


                                        {% csrf_token %}
                                        {{ pass_form.as_p }}
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <button class="btn btn-primary" type="submit">Save Changes</button>
                                    </div>
                                </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    </div>


    </div>







    {% endblock %}