{% extends 'theme/base.html' %}


{% block title %} IP LOOKUP {% endblock %}
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/> <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
{% endblock %}
{% block page_heading %} IP LOOKUP {% endblock %}

{% block breadcrumbnavigation %} <a href="addons">Add-Ons</a> / IP LOOKUP {% endblock %}

{% block sidebarheading %} Previous Searches {% endblock %}
{% block sidebarcontent %} 
{% for ip in ip_count %}
<table>
    <tr>
        <td>

            {{ ip.ip }} 
        </td>
    </tr>
</table>
{% endfor %}
{% endblock %}

{% block body %}
<div class="row col">
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">#{{ip}}   </h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form action="" method="post">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Enter IP</label>
                    <input type="text" name="search" class="form-control" id="text" placeholder="Enter IP Address">
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>


</div>
</div>




{% if not ip == None %}
<div class="content">
    <div class="row col">
         <div class="col-12   d-flex align-items-stretch flex-column">
            <div class="card bg-light d-flex flex-fill card-primary card-outline">
                <div class="card-header text-muted border-bottom-0">
                    Result
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-6">
                           
                            <ul class="ml-4 mb-0 fa-ul ">
                                <li class="large"><span class="fa-li"><i class="fas fa-lg fa-globe-americas"></i></span>
                                    &nbsp;ip : <b>{{ip}}</b></li>
                                <hr>
                                <li class="large"><span class="fa-li"><i
                                            class="fas fa-lg fa-city"></i></span>&nbsp;city :
                                    <b>{{city}}</b></li>
                                <hr>
                                <li class="large"><span class="fa-li"><i
                                            class="fas fa-lg fa-flag"></i></span>&nbsp;country : <b> &nbsp;
                                        {{country_name}} </b></li>
                                <hr>

                                <li class="large"><span class="fa-li"><i class="fas fa-lg fa-mail-bulk"></i></span>
                                    &nbsp;postal : <b>{{postal}}</b></li>
                                <hr>
                                <li class="large"><span class="fa-li"><i
                                            class="fas fa-lg fa-clock"></i></span>
                                    &nbsp; Time Zone : <b>{{timezone}}</b></li>
                                <hr>
                                <li class="large"><span class="fa-li"><i
                                    class="fas fa-lg fa-handshake"></i></span>
                                 &nbsp; Organization : <b>{{org}}</b></li>
                                 <hr>



                            </ul>
                        </div>
                        <div class="col-6 text-left">

                            <ul class="ml-4 mb-0 fa-ul ">
                                <li class="large"><span class="fa-li"><i class="fas fa-lg fa-code-branch"></i></span>
                                    &nbsp;version : <b>{{version}}</b></li>
                                <hr>
                                <li class="large"><span class="fa-li"><i
                                            class="fas fa-lg fa-building"></i></span>&nbsp;region :
                                    <b>{{region}}</b></li>
                                <hr>
                                <li class="large"><span class="fa-li"><i
                                            class="fas fa-lg fa-university"></i></span>&nbsp;Country Capital : <b> &nbsp;
                                        {{country_capital}} </b></li>
                                <hr>

                                <li class="large"><span class="fa-li"><i class="fas fa-lg fa-map-marker-alt"></i></span>
                                    &nbsp;Latitude / Longitude : <b>{{latitude}},{{longitude}}</b></li>
                                <hr>
                                <li class="large"><span class="fa-li"><i
                                            class="fas fa-lg fa-project-diagram"></i></span>
                                    &nbsp; ASN : <b>{{asn}}</b></li>
                                <hr>
                                <li class="large"><span class="fa-li"><i
                                    class="fas fa-lg fa-language"></i></span>
                                  &nbsp; Languages : <b>{{languages}}</b></li>
                                 <hr>



                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="row col">
<div class="row col" id="mapid" style="width: 100%; height: 340px;">
</div>
</div>
{% endif %}



{% endblock %}

{% block scripts %}     
  
  <script>

	var mymap = L.map('mapid').setView([{{latitude}},{{longitude}}], 10);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);

	L.marker([{{latitude}},{{longitude}}]).addTo(mymap)
		.bindPopup("<b>{{org}} </b><br />{{city}}.").openPopup();


	
	var popup = L.popup();

</script>
  
 
{% endblock %} 