{%  extends 'theme/base.html' %}


{% block title %} Analyse {% endblock %}
{% block page_heading %} Mobile number OSINT {% endblock %}
{% block breadcrumbnavigation %} Mobile number OSINT {% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %} 
{{case_no}}cc
<form action="" method="post">
    {% csrf_token %}

    
        <input type="text" class="form-control" name="search" placeholder="Enter Phone number">
    
    <input type="submit" class="btn btn-primary" value="Search">


</form>

<br/> Number : <b>{{num1}}</b>
<br/> Name : <b>{{name}}</b>
<br/> Email : <b>{{email}}</b>
<br/> Street : <b>{{street}}</b>
<br/> City : <b>{{city}}</b>
<br/> Gender : <b>{{gender}}</b>
<br/> MSP : <b>{{carrier}}</b>
<br/> image : <img src ="{{image}}" height="200px" width="200px">
<br/>birthday : {{birthday}}
<br> jobTitle : {{jobTitle}}
<br> addresses : {{address}}
<br> about : {{about}}
<br>

{% endblock %}