

{% extends 'theme/base.html' %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block page_heading %} Profile {% endblock %}

{% block breadcrumbnavigation %}<a href="/users"> View Users</a> / Edit Profile {% endblock %}

{% block sidebarheading %}  {% endblock %}
{% block sidebarcontent %}

{% endblock %}
{% block body %}




        <form class="form"  method="POST" enctype="multipart/form-data">
            {%csrf_token%}
        <div class="row">
            <div class="col mb-3">
                <div class="card">
                    <div class="card-body">
                        
                        <div class="card-header">
                            <h5 class="card-title"> #<b>{{object.user}}</b></h5>
                        </div>
                        <div class="tab-content pt-3">
                            <div class="tab-pane active">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>First Name</label>
                                                        {{ user_form.first_name }}
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Last Name</label>
                                                        {{ user_form.last_name }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>User Name</label>
                                                        {{ user_form.username }}
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Designation</label>
                                                        {{ form.designation }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        {{ user_form.email }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Avatar</label>
                                                        {{ form.profile_pic }}
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Administrator</label>
                                                        {{ user_form.is_superuser }}
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <label>Staff</label>
                                                        {{ user_form.is_staff }}
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-end">
                                            <button class="btn btn-primary" type="submit">Save Changes</button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>


      

        


{% endblock %}


