{%  extends 'theme/base.html' %}


{% block title %}   {% endblock %}

{% block page_heading %}   {% endblock %}

{% block breadcrumbnavigation %}   {% endblock %}

{% block sidebarheading %}   {% endblock %}
{% block sidebarcontent %}l  {% endblock %}

{% block body %} 


<div class="card">
    <div class="card-header">
        <h5 class="card-title">Book Update #{{userp.id}}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            {{ userp.profile.profile_pic }}
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}{% endblock %} 