{% extends 'theme/base.html' %}
{% load static %}


{% block title %} View Profile {% endblock %}

{% block page_heading %} View Profile {% endblock %}

{% block breadcrumbnavigation %} <a href="/users"> View Users</a> / View Profile {% endblock %}

{% block sidebarheading %} {% endblock %}
{% block sidebarcontent %} {% endblock %}

{% block body %}



<div class="col-12   d-flex align-items-stretch flex-column">
    <div class="card bg-light d-flex flex-fill card-primary card-outline">
        <div class="card-header text-muted border-bottom-0">
            {% if not userp.profile.designation == None %} {{ userp.profile.designation }} {% endif %}
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-7">
                    <h2 class="text-lg"><b>{{ userp.first_name }} {{ userp.last_name }}</b></h1>
                        <p class="text-lg">@{{ userp.username }}</p>
                        <ul class="ml-4 mb-0 fa-ul ">
                            <li class="large"><span class="fa-li"><i class="fab fa-lg fa-black-tie"></i></span> &nbsp;Designation : <b>{{ userp.profile.designation }}</b></li><hr>
                            <li class="large"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span>&nbsp;email : <b>{{ userp.email }}</b></li><hr>
                            <li class="large"><span class="fa-li"><i class="fas fa-lg fa-user-tag"></i></span>&nbsp;User Role(s) : <b>{% if userp.is_staff == True %} • Staff{% endif%} {% if userp.is_superuser == True %} &nbsp;• Admin {% else %} • user {% endif%}</b></li><hr>
                            
                            <li class="large"><span class="fa-li"><i class="fas fa-lg fa-sign-in-alt"></i></span> &nbsp;Last Login : <b>{{ userp.last_login }}</b></li><hr>
                            <li class="large"><span class="fa-li"><i class="fas fa-lg fa-envelope-open-text"></i></span>
                            &nbsp; Registerd on : <b>{{ userp.date_joined }}</b></li><hr>

                            {{ userp.casedetailes.case_title }}
                            
                        </ul>
                </div>
                <div class="col-5 text-center">
                    {% if userp.profile.profile_pic%}
                    <img src="{{ userp.profile.profile_pic.url}}" alt="user-avatar" class="img-circle " height="150px"  width="150px">
                    {% else %}
                    <img src="{% static 'avatars/noavatar.jpg' %}" alt="user-avatar" class="img-circle" height="150px"  width="150px">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="text-right">
                <a href="{% url 'update-profile' user.pk %}" class="btn btn-sm bg-teal">
                    <i class="fas fa-edit"></i> Edit Profile
                </a>
                <a href="{% url 'delete-profile' user.pk %}" class="btn btn-sm btn-primary btn-danger">
                    <i class="fas fa-trash"></i> Delete Profile
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}