{%  extends 'theme/base.html' %}


{% block title %}  Add UPI {% endblock %}
{% block css %} {% endblock %}

{% block page_heading %}  Add UPI {% endblock %}

{% block breadcrumbnavigation %} <a href="/settings">UPI Settings</a> / Add UPI  {% endblock %}

{% block sidebarheading %}   {% endblock %}
{% block sidebarcontent %}l  {% endblock %}

{% block body %} 
<form method="POST">

    {% csrf_token %}
    {{form.as_p}}
<button>submit</button>
</form>


{% endblock %}

{% block scripts %}{% endblock %} 