{%  extends 'theme/base.html' %}
{% load static %}

{% block title %} UPI Lists  {% endblock %}
{% block css %} {% endblock %}

{% block page_heading %} UPI Lists   {% endblock %}

{% block breadcrumbnavigation %} UPI Lists  {% endblock %}

{% block sidebarheading %}   {% endblock %}
{% block sidebarcontent %}l  {% endblock %}

{% block body %} 

<div class="card card-primary card-outline">
   
    <div class="card-body">
      <div class="row">
        <div class="col-7 col-sm-9">
          <div class="tab-content" id="vert-tabs-right-tabContent">
            <div class="tab-pane fade active show" id="vert-tabs-right-home" role="tabpanel" aria-labelledby="vert-tabs-right-home-tab">
                
                <table id="usertable" class="table table-bordered table-striped dataTable dtr-inline" role="grid"
                        aria-describedby="usertable_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="usertable" rowspan="1" colspan="1"
                                    aria-label="Rendering engine:activate to sort column ascending">UPI ID
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="usertable" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">Bank name</th>
                                <th class="sorting" tabindex="0" aria-controls="usertable" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">Added By</th>
                                <th class="sorting" tabindex="0" aria-controls="usertable" rowspan="1" colspan="1"
                                    aria-label="Browser: activate to sort column ascending">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for upi in object_list %}

                            <tr class="odd">
                                <td class="dtr-control" tabindex="0">{{ upi.upi_id}}</td>
                                <td>{{ upi.bank_name }}</td>
                                <td>{{ upi.created_by }}</td>
                                
                                    <td class="text-center py-0 align-middle"><div class="btn-group btn-group-sm">
                                        <a href="{% url 'update-profile' user.profile.pk %}" class="btn btn-warning"><i class="fas fa-edit" title="Edit"></i></a>
                                        <a href="{% url 'delete-profile' user.pk %}" class="btn btn-danger"><i class="fas fa-trash" title="delete"></i></a>
                                      </div> 
                                     </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">UPI ID</th>
                                <th rowspan="1" colspan="1">Bank Name</th>
                                <th rowspan="1" colspan="1">Added By</th>
                                <th rowspan="1" colspan="1">Action</th>
                                
                            </tr>
                        </tfoot>
                        
      <h4 class="mt-4"><a class="btn btn-primary mt-4" href="/add-upi" >Add more UPI lists</a></h4>
                    </table>


            </div>
            <div class="tab-pane fade" id="vert-tabs-right-profile" role="tabpanel" aria-labelledby="vert-tabs-right-profile-tab">
               Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam.
            </div>
            <div class="tab-pane fade" id="vert-tabs-right-messages" role="tabpanel" aria-labelledby="vert-tabs-right-messages-tab">
               Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris. Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac ornare magna.
            </div>
            <div class="tab-pane fade" id="vert-tabs-right-settings" role="tabpanel" aria-labelledby="vert-tabs-right-settings-tab">
               Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
            </div>
          </div>
        </div>
        <div class="col-5 col-sm-3">
          <div class="nav flex-column nav-tabs nav-tabs-right h-100" id="vert-tabs-right-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="vert-tabs-right-home-tab" data-toggle="pill" href="#vert-tabs-right-home" role="tab" aria-controls="vert-tabs-right-home" aria-selected="true">UPI Settings</a>
            <a class="nav-link" id="vert-tabs-right-profile-tab" data-toggle="pill" href="#vert-tabs-right-profile" role="tab" aria-controls="vert-tabs-right-profile" aria-selected="false">Profile</a>
            <a class="nav-link" id="vert-tabs-right-messages-tab" data-toggle="pill" href="#vert-tabs-right-messages" role="tab" aria-controls="vert-tabs-right-messages" aria-selected="false">Messages</a>
            <a class="nav-link" id="vert-tabs-right-settings-tab" data-toggle="pill" href="#vert-tabs-right-settings" role="tab" aria-controls="vert-tabs-right-settings" aria-selected="false">Settings</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card -->
  </div>

{% endblock %}

{% block scripts %}


<script>
    $(function () {
        $('#usertable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "bSort": true,
        });
    });
</script>
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>


{% endblock %} 